<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app="MyApp">

	<div ng-controller="FilterController">
	<input type="text" name="" value="" placeholder="" ng-model="viewModal.name">
	<p>{{viewModal.name}}</p>
	<p>{{chk1.name}} asf</p>
		<p>{{viewModal.name | uppercase}}</p>
		<p>{{ viewModal.age | number:2 | currency}}</p>
		<p>{{ viewModal.dob |date:'EEE MMM, yyyy'}}</p>

		<ul>
			<li ng-repeat="per in arr | filter:{$:'a'} | orderBy:'dob':sortResult ">{{per.name}} - {{per.age}}</li>
		</ul>
	</div>
	
	<script src="app/dist/js/lib.js" type="text/javascript"></script>
	<script src="app/dist/js/app.js" type="text/javascript"></script>
</body>
</html>