<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<title>Tech Mahindra Progress Bar</title>
	<link rel="stylesheet" href="dist/css/app.min.css">
</head>
<body ng-app="ProgressBar">

 <section ng-controller="progressController as progress" class="container">
	<p>I am showing The End Points for your reference</p>
	<p>{{progress.data.config}}</p>
	<section class="progressMeter">
 		<div ng-repeat="bar in progress.data.config.bars track by $index">
 			<div class="bar">
 				<div id="progress-{{$index}}" ng-class="{outoflimit:(progress.data.progressPercent[$index] > progress.data.config.limit )}" class="progress"></div>
 				<span class="percentage">{{progress.data.progressPercent[$index]}}%</span>
 			</div>
 		</div>

 		<div class="controlles">
 			<select name="probar" ng-model="progress.data.barNumber" >
 				<option  ng-selected="{{progress.data.barNumber == $index}}" ng-repeat="bar in progress.data.config.bars track by $index" value={{$index}}>Progress-{{$index + 1}}</option>
 			</select>
 			<button ng-repeat="btn in progress.data.config.buttons track by $index" ng-click="progress.change(btn)">{{btn}}</button>
 		</div>
 	</section>
 </section>


	<script src="dist/js/app.min.js"></script>
</body>
</html>