<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
		<h1>Contact</h1>
		<p>Thanks for getting in touch</p>
		<p>You have contacted <%= data.who %> in <%= data.dept %> Department</p>
		<p>We will reply you back on <%= data.email %> </p>
</body>
</html>