<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
		<h1>This is profile of <%= id %></h1>
		<p>Age: <%= data.age %></p>
		<p>Lives in : <%= data.city %></p>
		<h2>His Employment history is</h2>
		<ul>
			<% data.employments.forEach(function(employer){ %>
				<li>Employer Name : <%= employer %></li>
			<% }) %>
		</ul>
</body>
</html>